.phonepage-edit {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("5537.jpg");
    color: #black;
    background-size: cover;
}

.profile-pic img{
  position: absolute;
  height: 17%;
  top: 7%;
  left: 30%;
  // border-radius: 30px;
}

.sign-out {
  position: absolute;
  top: 4%;
  right: 7%;
  text-decoration: underline;
}

.basic-info {
  position: absolute;
  top:27%;
  left:7%;
  border-style: solid;
  border-color: #D3AE43;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 80%;
  left: 10%;
  line-height: 80%;
  padding: 10px;

}

.interests {
  position: absolute;
  top: 37%;
  margin-top: 15px;
  border-style: solid;
  border-color: #D3AE43;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 80%;
  left: 10%;
  line-height: 60%;
}
.interests h5 {
font-size: 18px;
  font-weight: bold;
  line-height: 60%;
}

.interests p {
font-size: 18px;
  line-height: 60%;
}
.edit-bio {
  position: absolute;
  left:7%;
  top:58%;
  margin-top: 20px;
  right: 7%;
  border-style: solid;
  border-color: #D3AE43;
  background: rgba(255, 255, 255, 0.5);
  width: 80%;
  padding: 10px;
  left: 10%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  // text-align: center;
}

.edit-bio h5{
  font-size: 18px;
  font-weight: bold;
  line-height: 60%;
}

// .square1 {
//   position: absolute;
// width: 153.37px;
// height: 489.44px;
// left: 182.82px;
// top: 354.55px;

// background: rgba(53, 44, 44, 0.1);
// border: 3px solid rgba(211, 174, 67, 0.3);
// box-sizing: border-box;
// transform: rotate(-150deg);
// }

// .square2 {

// position: absolute;
// width: 153.37px;
// height: 489.44px;
// left: -169px;
// top: 274.49px;

// background: rgba(148, 80, 80, 0.1);
// border: 3px solid rgba(211, 174, 67, 0.3);
// box-sizing: border-box;
// transform: rotate(-50deg);
// }
// .square3 {
//     position: absolute;
//     width: 125.79px;
//     height: 489.44px;
//     left: 10%;
//     top: 10%;
//     background: rgba(148, 80, 80, 0.1);
//     border: 4px solid rgba(211, 174, 67, 0.3);
//     box-sizing: border-box;
//     -webkit-transform: rotate(-140deg);
//     transform: rotate(-140deg);
// }

// .triangle1 {
// position: absolute;
//     width: 50%;
//     height: 25%;
//     left: 48%;
//     top: -9%;
//     background: rgba(148, 80, 80, 0.1);
//     border: 4px solid rgba(211, 174, 67, 0.3);
//     box-sizing: border-box;
//     -webkit-transform: rotate(-90deg);
//     transform: rotate(-90deg);
// }


