.phone-page-registration-completed {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: asset-url("marble-black.jpg");
    color: #black;
    background-size: cover;
}

.welcome-message {
  position: absolute;
  h1 {
    color: white;
  }
}
.button-start-swiping {
  position: absolute;
  background: white;
}



