
 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://kerend.co/wp-content/uploads/2018/06/gold-marble-wallpaper-gallery-of-gold-marble-wallpaper-rose-gold-marble-wallpaper-bedroom-with-bedroom-wallpaper-texture-black-black-rose-gold-marble-wallpaper-black-gold-marble-iphone-wallpaper.jpg');">
  	<div class="banner-content">
	    <h1>chooce two menu</h1>
	   
	    <form>
	      	<div class="form-group">
	      		<a href="/log_in">
          <img alt="hollow-log-18923867" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToXskpuYq6HPQ4yUKXM3RyrRdUOs2M1lWvyRrwM6SW4gMLUEug" height="142" width="142">
                </a>
	   		 	
	     	</div>
	     	<div class="form-group">

	     <a href="/log_in">
          <img alt="hollow-log-18923867" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcnlkTg2F19Q59RywLrrt3wiN3cBTXjnYMrSCGMsQuwl4VORcC" height="142" width="142">
                </ahttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcnlkTg2F19Q59RywLrrt3wiN3cBTXjnYMrSCGMsQuwl4VORcC" height="142" width="142"	      		
	  		</div>
            
	      	<div class="form-group">

	      		<a href="/log_in">
          <img alt="hollow-log-18923867" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJtr2zIO12-YS1EDduAm-UrOKxeHGDVEvWk6A3VlC06M3FELlS" height="142" width="142">
                </a>
	  		</div>
	  		<div class = "submit">
	  			<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>
