
 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2XtQpKr9volqyvkgi-H653Z89swsj9_UbudqhqZw3VxQJlaE');">
  	<div class="banner-content">
	    <h1>chooce two menu</h1>
	   
	    <form>
	      	<div class="form-group">
	   		 	<img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToXskpuYq6HPQ4yUKXM3RyrRdUOs2M1lWvyRrwM6SW4gMLUEug" height="142" width="142">
	     	</div>
	     	<div class="form-group">
	      		<img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcnlkTg2F19Q59RywLrrt3wiN3cBTXjnYMrSCGMsQuwl4VORcC" height="142" width="142">
	  		</div>
            
	      	<div class="form-group">
	  			<img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJtr2zIO12-YS1EDduAm-UrOKxeHGDVEvWk6A3VlC06M3FELlS" height="142" width="142">
	  		</div>
	  		<div class = "submit">
	  			<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>
