<!-- TODO #1: Background image -->
<!-- TODO #2: TITLE (Sign-up Complete!) -->
<!-- TODO #3: ICON: Checkmark -->
<!-- TODO #4: Button -->


<div class="container" >
  <div class="row">
    <div class="col-xs-3 col-sm-4 col-md-6 col-xl-12">
		<div class = "banner" style="background-image: linear-gradient(-225deg, rgba(0,1201,200,0.6) 0%, rgba(0,70,61,0.6) 50%), url('http://lisiapolana.pl/wp-content/uploads/2018/09/monika-grabkowska-759473-unsplash-700x840.jpg');">
		
		<h1>sign-up completed!</h1>

			
			<div class="check-icon">
	  			<img src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes-3/3/31-512.png" alt="approved, check, checkbox, circle, confirm, green icon" width="90" height="90">
		
	  		
		</div>	

     
	  	<button type="submit" class="check-button btn btn-info">Button</button>
	  		
	</div>
	</div>  
	</div>
</div>
