<div class="phone-page-registration-completed">
  <h1>Registration completed</h1>
  <%= simple_form_for :search, url:  location_set_user_path(current_user), method: :post do |f| %>
    <%= f.input :query, as: :hidden %>
    <%= f.submit "Get swiping!" %>
  <% end %>
</div>