<h1>Show page.. profile page</h1>

<h3><%= @user.first_name %></h3>



<div>
  Cuisine interests
  <ul>
    <li>
      <%= @user.cuisine_list %>
    </li>
  </ul>
</div>

<div>
  Cuisine interests
  <ul>
    <li>
      <%= @user.cuisine_list %>
    </li>
  </ul>
</div>





