 
.container{
  display:flex;
  text-item: center;
  flex-direction:column;
  height: 1200hv;
  color: white;
  font-weight: bold;
  width: 550px;
  text-align: center;
  h1{
text-align: center;
padding-top:50px;;
font-size: 16px;

}
}



.check-icon {
  padding:50px 50px;
  justify-content: space-around;

  
 }

.img{
background-position: 0 0 5px 5px;
padding-bottom:50px;
}

 .check-button{ 
 margin:15px 15px;
justify-content: center;

  // align-items: stretch;

    
 }

