.phone-page-message {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: asset-url("marble-b.jpg");
    color: #black;
    background-size: cover;
  }

  .chatting{

    margin-right: auto;
    margin-left: auto;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    margin-top: 30%;
  }
.messages {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px - 350px);
  overflow: scroll;
}
.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}
.message_content {
  margin-bottom: 0;
}
input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
.chat-header {
  background-color: #D3AE43;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}

.btn-chat{
  top: 14px;
  position: absolute;
  left: 40px;
  background-color: #D3AE43;
  border-color: #D3AE43;

}
.btn-primary:active {
  background-color: #D3AE43 !important;
  border: 1px solid white !important;
}

.recipe-card {
  position: absolute;
    border-style: solid;
    border-color: #D3AE43;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    left: 10%;
    top: 10%;
    bottom: 60%;
    /* display: inline-flex; */
    right: 10%;
}

.recipe-image img{
    height: 150px;
    width: 200px;
    margin-top: 20px;
}

.recipe-name  {
    position: absolute;
    left: 15%;
    right: 15%;
p{
  font-size: 17px;
  margin-top: 9px;
}

  a{
    color: black;
    font-weight: 600;
  }
}
